
    <div  layout="column"  layout-fill="layout-fill" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" layout layout-align="space-between center">
                <div layout layout-align="center center">
                    <md-button ng-click="toggleSidenav()" class="md-icon-button">
                        <md-icon aria-label="Menu" class="material-icons">tune</md-icon>
                    </md-button>
                    <h3>Fuldacity</h3>
                    <md-button>Events</md-button>
                    <md-button>Locations</md-button>
                </div>


                <input flex="40" ng-change="$ctrl.validateSearch()" ng-focus="$ctrl.focusSearch()" ng-blur="$ctrl.defocusSearch()" ng-class="searchClass" class="searchbar" ng-model="search" placeholder="Such Veranstaltungen, Locations & mehr...">

                <div>
                    <md-button ng-click="$ctrl.showDialog($event)">Login</md-button>
                </div>
            </div>
        </md-toolbar>

        <md-content flex="flex">
            <md-sidenav md-component-id="left"  class="md-sidenav-left md-whiteframe-z2">
                <md-subheader>Kategorie</md-subheader>
                <md-list-item  class="pointer">
                     <md-switch aria-label="Club">
                         Club
                      </md-switch>
                 </md-list-item>
                <md-list-item  class="pointer">
                     <md-switch aria-label="Club">
                         Bar
                      </md-switch>
                 </md-list-item>
                <md-list-item  class="pointer">
                     <md-switch aria-label="Club">
                         Restaurant
                      </md-switch>
                 </md-list-item>
                <md-subheader>Sortierung</md-subheader>
                <md-list-item  class="pointer">
                    <md-icon aria-label="Menu" class="material-icons">date_range</md-icon>
                    <p>Datum</p>
                 </md-list-item>
            </md-sidenav>

            <main>
                <md-subheader class="md-primary">Heute</md-subheader>
                <div layout layout-align="space-around center">
                    <md-card flex="30">
                        <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <div layout layout-align="space-around center">
                                <h2 class="md-title">White Night</h2>
                                <h3 class="md-subhead">23. November</h3>
                            </div>
                            <md-divider></md-divider>
                            <div layout layout-align="space-between end">
                                <p class="md-body-2" layout-align="center center">
                                    <i class="material-icons">room</i> Sclub <br />
                                    <i class="material-icons">audiotrack</i> Hip Hop | Trap | R&B <br />
                                    <i class="material-icons">child_care</i> Mindestalter: 16 Jahre
                                </p>
                                <div class="price" md-colors="{background:'accent'}" md-whiteframe="1">13.00 €</div>
                            </div>
                        </md-card-content>
                    </md-card>

                    <md-card flex="30">
                        <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <div layout layout-align="space-around center">
                                <h2 class="md-title">White Night</h2>
                                <h3 class="md-subhead">23. November</h3>
                            </div>
                            <md-divider></md-divider>
                            <div layout layout-align="space-between end">
                                <p class="md-body-2" layout-align="center center">
                                    <i class="material-icons">room</i> Sclub <br />
                                    <i class="material-icons">audiotrack</i> Hip Hop | Trap | R&B <br />
                                    <i class="material-icons">child_care</i> Mindestalter: 16 Jahre
                                </p>
                                <div class="price" md-colors="{background:'accent'}" md-whiteframe="1">13.00 €</div>
                            </div>
                        </md-card-content>
                    </md-card>

                    <md-card flex="30">
                        <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <div layout layout-align="space-around center">
                                <h2 class="md-title">White Night</h2>
                                <h3 class="md-subhead">23. November</h3>
                            </div>
                            <md-divider></md-divider>
                            <div layout layout-align="space-between end">
                                <p class="md-body-2" layout-align="center center">
                                    <i class="material-icons">room</i> Sclub <br />
                                    <i class="material-icons">audiotrack</i> Hip Hop | Trap | R&B <br />
                                    <i class="material-icons">child_care</i> Mindestalter: 16 Jahre
                                </p>
                                <div class="price" md-colors="{background:'accent'}" md-whiteframe="1">13.00 €</div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>


                 <md-subheader class="md-primary">Morgen</md-subheader>
                 <div layout layout-align="space-around center">
                    <md-card flex="30">
                        <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <div layout layout-align="space-around center">
                                <h2 class="md-title">White Night</h2>
                                <h3 class="md-subhead">23. November</h3>
                            </div>
                            <md-divider></md-divider>
                            <div layout layout-align="space-between end">
                                <p class="md-body-2" layout-align="center center">
                                    <i class="material-icons">room</i> Sclub <br />
                                    <i class="material-icons">audiotrack</i> Hip Hop | Trap | R&B <br />
                                    <i class="material-icons">child_care</i> Mindestalter: 16 Jahre
                                </p>
                                <div class="price" md-colors="{background:'accent'}" md-whiteframe="1">13.00 €</div>
                            </div>
                        </md-card-content>
                    </md-card>

                    <md-card flex="30">
                        <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <div layout layout-align="space-around center">
                                <h2 class="md-title">White Night</h2>
                                <h3 class="md-subhead">23. November</h3>
                            </div>
                            <md-divider></md-divider>
                            <div layout layout-align="space-between end">
                                <p class="md-body-2" layout-align="center center">
                                    <i class="material-icons">room</i> Sclub <br />
                                    <i class="material-icons">audiotrack</i> Hip Hop | Trap | R&B <br />
                                    <i class="material-icons">child_care</i> Mindestalter: 16 Jahre
                                </p>
                                <div class="price" md-colors="{background:'accent'}" md-whiteframe="1">13.00 €</div>
                            </div>
                        </md-card-content>
                    </md-card>

                    <md-card flex="30">
                        <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <div layout layout-align="space-around center">
                                <h2 class="md-title">White Night</h2>
                                <h3 class="md-subhead">23. November</h3>
                            </div>
                            <md-divider></md-divider>
                            <div layout layout-align="space-between end">
                                <p class="md-body-2" layout-align="center center">
                                    <i class="material-icons">room</i> Sclub <br />
                                    <i class="material-icons">audiotrack</i> Hip Hop | Trap | R&B <br />
                                    <i class="material-icons">child_care</i> Mindestalter: 16 Jahre
                                </p>
                                <div class="price" md-colors="{background:'accent'}" md-whiteframe="1">13.00 €</div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                 <div layout layout-align="space-around center">
                    <md-card flex="30">
                        <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <div layout layout-align="space-around center">
                                <h2 class="md-title">White Night</h2>
                                <h3 class="md-subhead">23. November</h3>
                            </div>
                            <md-divider></md-divider>
                            <div layout layout-align="space-between end">
                                <p class="md-body-2" layout-align="center center">
                                    <i class="material-icons">room</i> Sclub <br />
                                    <i class="material-icons">audiotrack</i> Hip Hop | Trap | R&B <br />
                                    <i class="material-icons">child_care</i> Mindestalter: 16 Jahre
                                </p>
                                <div class="price" md-colors="{background:'accent'}" md-whiteframe="1">13.00 €</div>
                            </div>
                        </md-card-content>
                    </md-card>

                    <md-card flex="30">
                        <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <div layout layout-align="space-around center">
                                <h2 class="md-title">White Night</h2>
                                <h3 class="md-subhead">23. November</h3>
                            </div>
                            <md-divider></md-divider>
                            <div layout layout-align="space-between end">
                                <p class="md-body-2" layout-align="center center">
                                    <i class="material-icons">room</i> Sclub <br />
                                    <i class="material-icons">audiotrack</i> Hip Hop | Trap | R&B <br />
                                    <i class="material-icons">child_care</i> Mindestalter: 16 Jahre
                                </p>
                                <div class="price" md-colors="{background:'accent'}" md-whiteframe="1">13.00 €</div>
                            </div>
                        </md-card-content>
                    </md-card>

                    <md-card flex="30">
                        <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <div layout layout-align="space-around center">
                                <h2 class="md-title">White Night</h2>
                                <h3 class="md-subhead">23. November</h3>
                            </div>
                            <md-divider></md-divider>
                            <div layout layout-align="space-between end">
                                <p class="md-body-2" layout-align="center center">
                                    <i class="material-icons">room</i> Sclub <br />
                                    <i class="material-icons">audiotrack</i> Hip Hop | Trap | R&B <br />
                                    <i class="material-icons">child_care</i> Mindestalter: 16 Jahre
                                </p>
                                <div class="price" md-colors="{background:'accent'}" md-whiteframe="1">13.00 €</div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </main>
        </md-content>


        <script type="text/ng-template" id="login-dialog.template.html">
            <md-dialog id="login-dialog" aria-label="Login">
                <form name="loginForm" ng-submit="dialog.login()">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Login</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="dialog.close()">
                                X<!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                            </md-button>
                        </div>
                    </md-toolbar>

                    <md-dialog-content>
                        <div class="md-dialog-content">
                            <md-input-container class="md-block">
                                <label>Username</label>
                                <input name="username" ng-model="dialog.username" md-autofocus required />
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Password</label>
                                <input type="password" name="password" ng-model="dialog.password" required />
                            </md-input-container>
                        </div>
                    </md-dialog-content>

                    <md-dialog-actions layout="row">
                        <a href="" class="md-primary">Passwort vergessen?</a>
                        <span flex></span>
                        <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-primary">Login</md-button>
                    </md-dialog-actions>
                </form>
            </md-dialog>
        </script>




