{% load static from staticfiles %}


<!DOCTYPE html>
<html dir="ltr" lang="en-US" ng-app>
	<head>

		<link href="{% static 'events/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />


		{% block css %}{% endblock %}

		<title>Fuldacity</title>
	</head>

	<body>
		{% verbatim %}
			<h1>{{hello}}</h1>
		<input type="text" ng-model="hello"/>
		{% endverbatim %}
		{% block content %}{% endblock %}
	</body>

	<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"/>
	{% block javascript %}{% endblock %}
</html>