{% load static from staticfiles %}


<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
      	<link rel="stylesheet" href="{% static 'bower_components/angular-material/angular-material.min.css' %}">
		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
        <link rel="stylesheet" href="{% static 'events/css/style.css' %}">

        {% block css %}{% endblock %}

		<title>Fuldacity</title>

        <script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bower_components/angular-aria/angular-aria.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bower_components/angular-messages/angular-messages.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bower_components/angular-material/angular-material.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>

        <script src="{% static 'events/js/app.module.js' %}"></script>
        <script src="{% static 'events/js/app.config.js' %}"></script>

        <script src="{% static 'events/js/event-list/event-list.module.js' %}"></script>
        <script src="{% static 'events/js/event-list/event-list.component.js' %}"></script>
	</head>

<body ng-app="StarterApp" ng-cloak >

    <div ng-view></div>

		{% block javascript %}{% endblock %}
	</body>
</html>