{% extends "events/base.html" %}

{% load static %}

{% block content %}
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <!-- Portfolio Single Image
                ============================================= -->
                <div class="col_two_third portfolio-single-image nobottommargin">
                    <a href="#"><img src="../../{{ event.image.url }}" alt=""></a>
                </div><!-- .portfolio-single-image end -->

                <!-- Portfolio Single Content
                ============================================= -->
                <div class="col_one_third portfolio-single-content col_last nobottommargin">

                    <!-- Portfolio Single - Description
                    ============================================= -->
                    <div class="fancy-title title-bottom-border">
                        <h2>{{event.name}}</h2>
                    </div>
                    <p>{{ event.beschreibung }}</p>
                    <!-- Portfolio Single - Description End -->

                    <div class="line"></div>

                    <!-- Portfolio Single - Meta
                    ============================================= -->
                    <ul class="portfolio-meta bottommargin">
                        <li><span><i class="icon-user"></i>Created by:</span> {{ event.author }}</li>
                        <li><span><i class="icon-calendar3"></i>Completed on:</span> {{ event.pub_date }}</li>
                    </ul>
                    <!-- Portfolio Single - Meta End -->

                </div><!-- .portfolio-single-content end -->

                <div class="clear"></div>

                <div class="divider divider-center"><i class="icon-circle"></i></div>


            </div>

        </div>

    </section><!-- #content end -->
{% endblock content %}
