{% extends "events/base.html" %}

{% load static %}

{% block content %}

        <!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="table-responsive">

						<table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Actions</th>
									<th>Name</th>
									<th>Veröffentlicht</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th colspan="3" class="center"><a href="{% url 'events:event-add' %}">Event erstellen</a></th>
								</tr>
							</tfoot>
							<tbody>
                                {% for event in event_list %}
                                    <tr>
										<td>
											<a href="{% url 'events:event-update' event.id %}"><button class="button-3d button-white button-light"><i class="icon-pencil"></i> editieren</button></a>
											<a href="{% url 'events:event-delete' event.id %}"><button class="button-3d button-white button-light"><i class="icon-trash"></i> löschen</button></a>
										</td>

										<td>{{ event.name }}</td>
                                        <td>{{ event.pub_date }}</td>
                                    </tr>
                                {% endfor %}
							</tbody>
						</table>

					</div>

				</div>

			</div>

		</section><!-- #content end -->
{% endblock %}

{% block javascript %}
    <!-- Bootstrap Data Table Plugin -->
	<script type="text/javascript" src="{% static 'events/js/bs-datatable.js' %}"></script>


    <script>
		$(document).ready(function() {
			$('#datatable1').DataTable();
		});

		$('#datatable1').DataTable( {
			language: {
				search: "Suche :",
				paginate: {
					first:      "Erste",
					previous:   "Vorheriges",
					next:       "Nächste",
					last:       "Letzte"
				},
				emptyTable:     "Kein Events vorhanden.",
				zeroRecords:    "Keine Events vorhanden.",
				info:           "_START_-_END_ von insgesamt _TOTAL_ Events",
				lengthMenu:    "Zeige _MENU_ Events",
				infoFiltered:   "(gefiltert von _MAX_ Events)",
				infoEmpty:		"0 Events"

			}
		} );
	</script>
{% endblock %}