
/* Event-List */
.pointer {
    cursor: pointer;
}

.searchbar {
  padding: 16px;
  border-radius: 2px;
  text-align: center;
  background-color: rgba(255,255,255,.3);
  border: 0;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.searchbar.focus {
  background-color: white;
  text-align: left;
  color: #767676;
}
.searchbar::-webkit-input-placeholder {
    color: white;
}
.searchbar::-moz-placeholder {
     color: white;
}
.searchbar:-moz-placeholder {   /* Older versions of Firefox */
     color: white;
}
.searchbar:-ms-input-placeholder {
    color: white;
}

i {
    vertical-align: middle !important;
}

/*md-card image*/
.md-card-image-container {
    background: rgba(0, 0, 0, 1);
    position: relative;
    cursor: pointer;
}
.md-card-image-container:hover .md-card-image {
    opacity: 0.3;
}
.md-card-image-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5.9vw;
}
.md-card-image-icon:hover {
    font-size: 7vw;
    opacity: 0.9;
}
.md-card-image-container:hover .md-card-image-icon { display: block; }
.md-card-backIcon {
    float: left;
}

md-card-content .price {
    padding: 10px;
    border-radius: 2px;
    color: white;
}

.md-body-2 i {
    font-size: 16px !important;
}
/*-------------------------------------------------------------------------*/


/* Login */
#login-dialog {
  max-width: 90%;
  width: 500px;
}



.no-margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.no-padding {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}