<style>
    .cropArea {
      background: #E4E4E4;
      overflow: hidden;
      height:250px;
    }
  </style>


<md-subheader class="md-primary">Pflichtfelder:</md-subheader>
<div layout layout-align="space-around center">
    <div flex="60">
        <form name="forms.form" >

            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>Titel</label>
                    <input required name="titel" ng-model="$ctrl.titel">
                    <div ng-messages="forms.form.titel.$error">
                        <div ng-message="required">
                            Geben Sie einen Eventtitel ein.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Location: </label>
                    <input required name="location" ng-model="$ctrl.location">
                    <div ng-messages="forms.form.location.$error">
                        <div ng-message="required">
                            Geben Sie eine Locationnamen ein.
                        </div>
                    </div>
                </md-input-container>
            </div>


            <div layout="row" layout-align="center center">
                <md-input-container flex>
                    <label>Beginn Datum</label>
                    <md-datepicker  ng-model="$ctrl.beginnDatum" ></md-datepicker>
                    <div ng-messages="forms.form.datum.$error">
                        <div ng-message="required">
                            Geben Sie ein Datum ein.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label>Beginn Uhrzeit</label>
                    <input type="time" ng-model="$ctrl.beginnUhrzeit" mdp-time-picker />
                    <div ng-messages="forms.form.datum.$error">
                        <div ng-message="required">
                            Geben Sie eine Uhrzeit ein.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label>Ende Datum</label>
                    <md-datepicker  ng-model="$ctrl.endeDatum" ></md-datepicker>
                    <div ng-messages="forms.form.datum.$error">
                        <div ng-message="required">
                            Geben Sie ein Datum ein.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Ende Uhrzeit</label>
                    <input type="time" ng-model="$ctrl.endeUhrzeit" mdp-time-picker />
                    <div ng-messages="forms.form.datum.$error">
                        <div ng-message="required">
                            Geben Sie eine Uhrzeit ein.
                        </div>
                    </div>
                </md-input-container>
            </div>




            <div style="margin-bottom: 40px">
                <div class="cropArea">
                    <ui-cropper  image="myImage" area-type="rectangle" aspect-ratio="2" result-image="myCroppedImage" result-image-size='{w: 400,h: 200}' init-max-area="true"></ui-cropper>
                </div>
                <label for="fileInput"   class="md-button md-raised md-primary">Browse</label>

                <input class="ng-hide" id="fileInput" multiple type="file" />
            </div>






            <md-input-container class="md-block" style="margin-bottom: 40px">
                <label>Address</label>
                <input places-auto-complete size=80
                       required
                       name="address"
                       ng-model="$ctrl.address"
                       component-restrictions="{country:'de'}"
                       types="{{types}}"
                       on-place-changed="$ctrl.placeChanged()"
                       placeholder="Marienplatz 7, Fulda, Germany"
                        />
                <div ng-messages="forms.form.address.$error" role="alert">
                    <div ng-message="validationError" class="my-message">
                        Wählen Sie eine Adresse aus der vorgeschlagenenen Liste via Klick aus.
                    </div>
                </div>

                <ng-map center="50.5558095,9.680844900000011">
                    <marker position="{{markerLatitude}}, {{markerLongitude}}" title="Location"></marker>
                </ng-map>
            </md-input-container>



            <md-input-container class="md-block">
                <label>Beschreibung</label>
                <textarea name="beschreibung" ng-model="$ctrl.beschreibung" md-maxlength="1000" rows="10" md-select-on-focus required></textarea>
                <div ng-messages="forms.form.beschreibung.$error" role="alert">
                    <div ng-message="required" class="my-message">
                        Beschreiben Sie Ihr Event.
                    </div>
                </div>
            </md-input-container>

      </form>
    </div>

    <div layout="column" layout-align="center center" flex="30">
        <md-card style="width: 100%">
            <img ng-src="{{myCroppedImage}}" class="md-card-image" alt="Washed Out">
            <md-card-content>
                <div layout layout-align="space-around center">
                    <h2 class="md-title">{{ $ctrl.titel }}</h2>
                    <h3 class="md-subhead">{{ $ctrl.datum | date : 'EEEE, d. LLLL'}}</h3>
                </div>
                <md-divider></md-divider>
                <div layout layout-align="space-between end">
                    <p class="md-body-2" layout-align="center center">
                        <i class="material-icons">room</i>{{ $ctrl.location }} <br />
                        <i class="material-icons">audiotrack</i> <span ng-repeat="kategorie in $ctrl.kategorien"> {{ kategorie }} <span ng-if="!$last"> | </span> </span><br />
                        <span ng-if="$ctrl.mindestalter"><i class="material-icons">child_care</i> Mindestalter: {{$ctrl.mindestalter}} Jahre</span>
                    </p>
                    <div class="price" md-colors="{background:'accent'}" md-whiteframe="1">13.00 €</div>
                </div>
            </md-card-content>
        </md-card>
        <md-card style="width:100%">
               <md-card-content>
                <div layout layout-align="space-around center">
                    <h2 class="md-title">{{ $ctrl.titel }}</h2>
                    <h3 class="md-subhead">{{ $ctrl.datum | date : 'EEEE, d. LLLL'}}</h3>
                </div>
                <md-divider></md-divider>
                <div layout layout-align="space-between end">
                    <p class="md-body-2" layout-align="center center">
                        {{$ctrl.beschreibung}}
                    </p>
                    <div class="price" md-colors="{background:'accent'}" md-whiteframe="1">13.00 €</div>
                </div>
            </md-card-content>
      </md-card>

        <div>
            <md-button type="submit" class="md-raised md-primary" ng-click="$ctrl.erstellen()">Erstellen</md-button>
        </div>
    </div>




</div>

<md-subheader class="md-primary">Optionale Felder:</md-subheader>
<div layout layout-align="space-around start">
    <div flex="60">

            <div layout-gt-xs="row">
                <md-input-container class="md-block">
                    <label>Mindestalter: </label>
                    <input ng-model="$ctrl.mindestalter">
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <label>Musikgenre:</label>
                <md-chips
                    ng-model="$ctrl.kategorien"
                    placeholder="Musikgenre hinzufügen"
                    secondary-placeholder="+Rock"
                    md-enable-chip-edit="true">
                </md-chips>
            </md-input-container>
    </div>
    <div flex="30">

    </div>
</div>


